.numbers > p {
  height: 70px;
  display: block;
  margin: 0%;
  padding: 0%;
  background-color: black;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 60px;
}

.container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: black;
  padding: 10px;
}

.container > button {
  background-color: #f1f1f1;
  border: 1px solid black;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
